ngb-rating {
  color: #ffc107;
  font-size: 2rem;
}


.btn-p {
  background-color: #f1b081;
  border: 1px solid rgb(21, 21, 21);
  border-radius: 25px;
  margin: 5px;
  padding: 5px;
  transition: all 0.2s ease 0s;
  padding-left: 1em;
  padding-right: 1em;
}
