<div class="container d-flex flex-column align-items-center">
  <img
    src="/assets/banana.png"
    class="me-2"
    height="80"
    alt="Logo BananaChef"
    loading="lazy"
  />
  <h1>Sign in to BananaChef</h1>
  <form
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
    class="d-block w-50"
  >
    <div class="form-row">
      <div class="form-group mb-3">
        <label for="usernameEmail">Username or email address</label>
        <input
          type="usernameEmail"
          name="usernameEmail"
          id="usernameEmail"
          placeholder="Enter your username or email"
          class="form-control"
          [(ngModel)]="form.emailOrUsername"
          required
          #emailOrUsername="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && emailOrUsername.errors }"
        />
        <div
          *ngIf="emailOrUsername.errors && f.submitted"
          class="invalid-feedback"
        >
          Idendifier is required !
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
          class="form-control"
          [(ngModel)]="form.password"
          required
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=!]).{8,30}$"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['pattern']">
            Password needs to:
            <ul>
              <li>include both lower and upper case characters</li>
              <li>include at least one number or symbol</li>
              <li>be at least 8 characters long</li>
              <li>be max 30 characters long</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
