<div class="container d-flex flex-column align-items-center">
  <img
    src="/assets/banana.png"
    class="me-2"
    height="80"
    alt="Logo BananaChef"
    loading="lazy"
  />
  <h1>Sign in to BananaChef</h1>
  <form>
    <div class="mb-3">
      <label for="usernameEmail" class="form-label">Username or email address</label>
      <input type="text" class="form-control" id="usernameEmail" placeholder="Enter your username or email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter your password">
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  
</div>
