.bg-main{
  background: rgb(240,163,107);
  background: radial-gradient(circle, rgba(240,163,107,1) 0%, rgba(255,118,18,0.8855917366946778) 70%, rgba(240,163,107,1) 100%);
    border-bottom: 1px inset #de9663;
}
